
$color-grey: #fdfdfd;
$color-black: #333;
$color-blue: #9adeff;
$color-green: #93FBC5;
$color-grass: #BCFB93;

$mat-black-primary: (
  50 : #e4e4e4,
  100 : #bcbcbc,
  200 : #909090,
  300 : #646464,
  400 : #424242,
  500 : #212121,
  600 : #1d1d1d,
  700 : #181818,
  800 : #141414,
  900 : #0b0b0b,

  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);